services:
  valhalla:
    build: ../services/valhalla
    container_name: valhallaDjango
    ports:
      - "8002:8002"
    volumes:
      - ../data:/data
    restart: unless-stopped

  django:
    build: ../services/django
    container_name: django
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
    - ../services/django/app:/app
    env_file:
      - env/django.env
    depends_on:
      - postgres
      - redis
    restart: unless-stopped


  worker:
    build: ../services/django
    container_name: celery_worker
    command: celery -A valhalla_admin worker -l info
    volumes:
      - ../services/django/app:/app
    env_file:
      - env/django.env
    depends_on:
      - django
      - redis
    restart: unless-stopped


  scheduler:
    build: ../services/django
    container_name: celery_scheduler
    command: celery -A valhalla_admin beat -l info
    volumes:
      - ../services/django/app:/app
    env_file:
      - env/django.env
    depends_on:
      - django
      - redis
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  postgres:
    image: postgres:14
    container_name: postgres
    env_file:
      - env/postgres.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
